@import "~antd/dist/antd.css";
@import "antd-button-color/dist/css/style.css";

body {
  margin: 0;
  background-color: #084954 !important;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-layout .site-layout {
  background-color: #084954 !important;
  color: #fff;
}
.ant-layout-sider-children {
  min-width: 200px;
  position: fixed;
}
.h-tooltip {
  font-size: smaller;
  display: block;
  background-color: #fff !important;
  color: #084954 !important;
}
.ant-btn-primary {
  background-color: #126270 !important;
  color: #fff;
}

.ant-btn-info {
  background-color: #138d54 !important;
  border-color: none;
  color: #fff;
}

.ant-btn-danger {
  background-color: #e9510a !important;
  border-color: none;
  color: #fff;
}

.ant-btn-primary:hover {
  background-color: #267e8d !important;
  color: #fff;
}
.cl-primary > div,
.cl-primary {
  color: #126270 !important;
}

.custom-spinner {
  width: 100% !important;
  margin-top: 30%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  min-height: 100vh !important;
}
.sidebar {
  overflow: "auto";
  min-height: 100%;
  position: sticky;
  left: 0;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.trigger {
  font-size: 1.5rem;
  color: white;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.header-hoh {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.main-navbar {
  color: gray;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float: right !important;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.ant-form-item-explain,
.ant-form-item-explain-error {
  font-size: smaller;
}

.site-statistic-demo-card {
  background: #ececec;
  padding-inline: 30px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: transparent !important;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(161, 152, 152, 0.486);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(194, 175, 175, 0);
}

.home-main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.pic-banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(assets/img/alcance.jpg);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60vh;
  margin-inline: 10px;
  align-items: center;
  justify-content: center;
}

.pic-banner {
  padding: 2rem;
  width: 100% !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603));
}
.pic-banner h1 {
  color: #fff;
  width: 100%;
  z-index: 10;
  letter-spacing: 4px;
  font-weight: bolder;
  opacity: 1 !important;
  text-align: center !important;
  font-size: 2rem;
}
.timeline-last-activities > .ant-card-body {
  padding-bottom: 0px !important;
}

.top-patients {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top-patients div {
  margin-top: 1rem;
  transition: ease-in-out;
}

@media (min-width: 1400px) and (max-width: 1950px) {
  .pic-banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(assets/img/alcance.jpg);
    display: flex;
    margin-inline: 10px;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    grid-row: 1 / span 2;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  .pic-banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(assets/img/alcance.jpg);
    display: flex;
    margin-inline: 10px;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
}

@media (min-width: 200px) and (max-width: 900px) {
  .home-main-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
}
